<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bureau Des Sports - École</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>

        <img src="../static/logo.jpeg" alt="Tournoi de football">
        <div class="texte">
        <h1>Bienvenue sur le site du BDS</h1>
        <nav>
            <ul>
                <li><a href="../templates/index.html">Présentation</a></li>
                <li><a href="../templates/evenements.html">Événements</a></li>
                <li><a href="../templates/galerie.html">Galerie</a></li>
                <li><a href="../templates/contact.html">Contact</a></li>
            </ul>
        </nav>
        </div>
        <img src="../static/logo.jpeg" alt="Tournoi de football">
    </header>
    
    <section id="contact">
        <h2>Contactez-nous</h2>
        <form>
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" required>
            
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>
            
            <label for="message">Message :</label>
            <textarea id="message" name="message" required></textarea>
            
            <button type="submit">Envoyer</button>
        </form>
    </section>
    
</body>
<footer class="footer">
    <p>&copy; 2024 Bureau Des Sports - Ynov | Tous droits réservés.</p>
</footer>



</html>