<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bureau Des Sports - École</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>

        <img src="../static/logo.png" alt="Tournoi de football">
        <div class="texte">
        <h1>Bienvenue sur le site du BDS</h1>
        <nav>
            <ul>
                <li><a href="../templates/index.html">Présentation</a></li>
                <li><a href="../templates/evenements.html">Événements</a></li>
                <li><a href="../templates/galerie.html">Membre du BDS</a></li>
                <li><a href="../templates/contact.html">Contact</a></li>
            </ul>
        </nav>
        </div>
    </header>
    
    <section id="presentation">
        <h2>Qui sommes-nous ?</h2>
        <p>Le Bureau Des Sports (BDS) de notre école organise des événements sportifs et promeut l'activité physique auprès des étudiants.</p>
    </section>
    
    

</body>
</html>